.Rproj.user
.Rhistory
.RData
_publish.R
_book
_bookdown_files
rsconnect
data/~$*
scripts/private_info.R
scripts/pers_*
*.JPG
!overview.jpg
!crossing_all.JPG
!*_k_*
*.gpkg-wal
*.gpkg-shm
docs/Peace.html
Peace2022.html
*~$*
*.Kmz
*.kml
data/photos/**/*.pdf
!data/photos/admin/*
.httr-oauth
