.Rproj.user
.Rhistory
.RData
_publish.R
_book
_bookdown_files
rsconnect
data/~$*
*.JPG
!crossing_all.JPG
!*_k_*
*.gpkg-wal
*.gpkg-shm
docs/Peace.html
Peace2023.html
*~$*
data/photos/**/*.pdf
!data/photos/admin/*
.httr-oauth
